.container {
  text-align: center;
  margin: 20px;
  display: flex;
  flex-direction: column;
}

input {
  padding: 5px;
  margin-right: 10px;
}

button {
  padding: 5px 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

p {
  font-weight: bold;
  margin-top: 10px;
}
.buttons {
  margin-left: 1rem;
}

.error_message {
  color: red;
  font-size: 14px;
  margin-top: 10px;

  text-align: center;
}

.message {
  color: green;
  font-size: 14px;
  margin-top: 10px;

  text-align: center;
}
